<module>
	<rawname>webrtc</rawname>
	<name>WebRTC Phone</name>
	<version>13.0.18</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<repo>standard</repo>
	<description>
		The WebRTC Module allows an Administrator to enable a "WebRTC phone" that can be attached to a user's
		extension which they can connect to through FreePBX User Control Panel, this WebRTC phone will then
		receive phone calls at the same time as the users extension using user and device mode behind the scenes.
		If you have User and Device Mode enabled any extension you enable the WebRTC Phone a duplicate extension of 99XXXX
		will be created (where XXXX is the original extension number), when the user then views the web interface of the WebRTC
		phone they will be connected to device 99XXXX which will receive calls from the original extension
	</description>
	<changelog>
		*13.0.18* Fix issues with clients and add upgrade code
		*13.0.17* FREEPBX-11457
		*13.0.16* FREEPBX-11694 add del_user core hook
		*13.0.15* Remove en_US Translations
		*13.0.14* Fix incorrect localization in en_US
		*13.0.13* Invalid string
		*13.0.12* Support TLS
		*13.0.11* Remove STUN server notice
		*13.0.10* FREEPBX-11041
		*13.0.9* Resolves whoops error
		*13.0.8* Call the right command from Core not from self
		*13.0.7* Fixing issue with invalid devices
		*13.0.6* FREEPBX-10376 Dashboard hook
		*13.0.5* FREEPBX-8919 Delete WebRTC extension when user or group is deleted
		*13.0.4* FREEPBX-9563 Use context of original extension during creation
		*13.0.3* FREEPBX-9540 stop returning false in check statement
		*13.0.2* Version bump Beta
		*13.0.1alpha3* FREEPBX-9436 webrtc warning obfuscates UCP menu on iPhone, update jssip lib to 0.6.30
		*13.0.1alpha2* Usermanager Groups
		*13.0.1alpha1* Visual Changes
	</changelog>
	<info />
	<category>Connectivity</category>
	<depends>
		<engine>asterisk 11.5</engine>
		<module>certman ge 12.0.0alpha1</module>
		<module>core ge 13.0.74</module>
		<module>ucp ge 12.0.0beta7</module>
		<version>12.0.1beta34</version>
	</depends>
	<hooks>
		<ucp class="Ucp">
			<method callingMethod="constructModuleConfigPages" class="Webrtc" namespace="FreePBX\modules">ucpConfigPage</method>
			<method callingMethod="addUser" class="Webrtc" namespace="FreePBX\modules">ucpAddUser</method>
			<method callingMethod="updateUser" class="Webrtc" namespace="FreePBX\modules">ucpUpdateUser</method>
			<method callingMethod="delUser" class="Webrtc" namespace="FreePBX\modules">ucpDelUser</method>
			<method callingMethod="addGroup" class="Webrtc" namespace="FreePBX\modules">ucpAddGroup</method>
			<method callingMethod="updateGroup" class="Webrtc" namespace="FreePBX\modules">ucpUpdateGroup</method>
			<method callingMethod="delGroup" class="Webrtc" namespace="FreePBX\modules">ucpDelGroup</method>
		</ucp>
		<dashboard class="Dashboard" namespace="">
			<method callingMethod="extIgnoreList" class="Webrtc" namespace="FreePBX\Modules">dashboardIgnoreExt</method>
		</dashboard>
		<core class="Core" namespace="FreePBX\modules">
			<method callingMethod="delUser" class="Webrtc" namespace="FreePBX\modules">delUser</method>
		</core>
	</hooks>
	<supported>
		<version>13.0</version>
	</supported>
</module>
