textarea.styled {
	width: 450px;
        height: 300px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Verdana;
        font-size:1em;
       	background-color: white;
}

div#chatarea{
	border:2px solid #BDBDBD;
	background: #FFF;
	width: 450px;
        height: 300px;
	overflow:auto;
	-moz-border-radius:10px;
	border-radius: 10px
}


div#chatarea p{
	margin:1em;
	padding:1px;
	background: lightyellow;
	border:1px solid #BDBDBD;
	-moz-border-radius:4px;
	border-radius: 4px;
}

div#chatarea b{
	margin:2em;
	padding:1px;
	background: lightblue;
	border:1px solid #BDBDBD;
	-moz-border-radius:4px;
	border-radius: 4px;
}

input.styletext{
	width: 450px;
        height: 15px;

}
